.iphone{
	width:294px;
	height: 524px;
	
	padding:112px 56px;
	
	background: url(../images/iphone.png);
}
.iphone iframe{
	width: 294px;
	height: 524px;
}
.center{
	margin: 0 auto;
}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{*+height:1%;}
#main-content #show-time ul{list-style: none;padding:0;margin:0;}
#main-content #show-time li{ width : 300px; height: 300px; margin-right: 50px; margin-bottom: 50px; float: left; background-color: #ffd}
#main-content #show-time li.last{ margin-right: 0; }
#main-content img:hover{
	opacity: .5;
}
aside#sidebar{
	position: fixed;
	top : 250px;
	right: 30px;

	width: 200px;
	height: auto;

	border-radius: 5px;
	background-color: #00CBE9;
	color: #ffffff;

	padding : 0 20px;
}
footer{background-color: #333; color:#ddd;}
footer .text{font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif ; font-size: 40px;text-align: center;}
footer .list{font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif ; font-size: 40px;text-align: right;}
#timeline{
	height: 100px;
	padding-top: 50px
}
.line{
	border: 1px solid #ccc;
	position: relative;
}

.line .point{
	width: 40px;
	height: 20px;

	background-image: url(../images/timepoint.png);
	background-repeat: no-repeat;

	position: absolute;
	top: -10px;
	left: 20px;
	cursor: pointer;
}
.point .datetime{ width: 60px; position: absolute;top: -35px; font-family: Georgia, Tahoma, Arial; font-size: 20px; color: #8690A8}
.point .tooltip{ position: absolute; top: 35px; left: -34px;}
.point .triangle{
		width:0; 
    height:0; 
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid #565F74;

    position: absolute;
    top: -10px;
    left: 44px;
}

.point .text{
	padding: 7px;
	font-size: 15px;
	
	background-color: #565F74;
	border-radius: 5px;

	color: #E3E9F4;
}